body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.px-1 {
    padding: 1rem;
}

.ph-1 {
    padding-right: 1rem;
    padding-left: 1rem;
}

.pv-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.mx-1 {
    margin: 1rem;
}

.mh-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mv-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.todo.completed span {
    text-decoration: line-through;
}

.todo label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: #f3f3f3;
    color: #000;
}

.todo.completed label {
    color: #9e9e9e;
}

.todo i {
    z-index: 2;
}